/**
 * Created by mengjiuxiang on 2017/4/14.
 */
.margin-top-antd-row-order-search-filter{
    height:15px;
}

.title-antd-row-order-search-filter{
    font-size:16px;
    color: #4d4d4d;
}

.search-antd-input-order-search-filter{
    margin-top:15px;
    width:200px;

}




